// do any overrides to variables BEFORE including bootstrap
$menuColor: #293C5A;
$menuActiveColor: #293cff;
$titleColor: #EDD681;
$titleColorActive: #F7C202;
$paddingColor: #A4A863;

$bodyColor: #D3CDB6;
$accordion-button-bg: $titleColor;
$accordion-button-active-bg: $titleColorActive;
$primary: black;
$btn-primary: blue;




@import "bootstrap";

// any custom styles AFTER including bootstrap
.btn-primary{
  --bs-btn-bg: blue;
  border: 3px solid gold;
  border-radius: 25px;
}
body{
  //background-color: $bodyColor;
  background-color: $paddingColor;
}
#stopGapMeasure{
  background-color: $bodyColor;
}
#registerPersonalInformation{
  --bs-body-bg: #D3CDB6;
}

.accordion-header{
  --bs-accordion-active-color: $menuColor;

}
