// do any overrides to variables BEFORE including bootstrap
$primary: black;
$btn-primary: blue;


@import "bootstrap";

// any custom styles AFTER including bootstrap
.btn-primary{
  --bs-btn-bg: blue;
  border: 3px solid gold;
  border-radius: 25px;
}

.accordion-header{
  --bs-body-color: grey;
}
