// do any overrides to variables BEFORE including bootstrap
$bodyColor: #D3CDB6;
$accordion-button-active-bg: red;
$primary: black;
$btn-primary: blue;


@import "bootstrap";

// any custom styles AFTER including bootstrap
.btn-primary{
  --bs-btn-bg: blue;
  border: 3px solid gold;
  border-radius: 25px;
}
body{
  //background-color: $bodyColor;
  background-color: $bodyColor;
}
#registerPersonalInformation{
  --bs-body-bg: #D3CDB6;
}

.accordion-header{
  --bs-accordion-btn-bg: blue;
  --bs-body-bg: grey;
}
