// do any overrides to variables BEFORE including bootstrap
$primary: black;
$btn-primary: blue;
$btn-secondary: blue;
$btn-padding-x: 15px;
$nav-tabs-border-radius: 0;

@import "bootstrap";

// any custom styles AFTER including bootstrap
.btn-primary{
  --bs-btn-bg: blue;
  border: 3px solid gold;
  border-radius: 25px;
}

//.btn-primary:hover{
//  color: #0a58ca;
//}

.btn-secondary{
  --bs-body-color-rgb: blue;
  border: 4px lightblue;
  border-radius: 0px;
}
body #background{
  margin: auto;
  background-color: lightblue;
}

#background #programInfo{
  padding-left: 25px;
  margin-left: 25px;
}

body #introduction{
  --bs-nav-link-color: lightblue;
  --bs-nav-tabs-border-color: blue;
  --bs-link-color-rgb: blue !important;
  text-decoration-color: #1a1d20;
  border: 3px lightcyan;
  text-align: center;
  margin: auto;
  font-family: "Arial Black";

}

.tab-content,#myTabContent{
  border-radius: 25px;
  background-color: white;
  margin: 5px;
  border: 3px #0b5ed7;
}
#myProgramContent{
  background-color: white;
}

#ApplicationClick{
  margin: auto;
  width: 200px;
  height: auto;
  //justify-content: left;
}

#imagePlaceholder{
  border-color: #ffc720;
}

#expositionDump{
  border: 4px lightblue;
  border-radius: 5px;
  background-color: white;
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  //background-color: #0a58ca;
}

nav .mainNavBar{
  font-family: "Arial Black";
  border-color: #0a53be;
  background-color: #0dcaf0;
}
