:root{

}

.navbackgroundColor{
    background-color: #FA843f;
}
#courseHeader{
    text-align: center;
    justify-content: center;
}
#accountHeader{
    text-align: center;
}
#signInButton{
    alignment: right;
    text-align: right;
    justify-content: right;
}

header nav{
    text-decoration-color: black;
    --bs-body-color-rgb: #fff;
    --bs-orange: #fd7e14;
    background-color: darkorange;
}