:root{

}

.navbackgroundColor{
    background-color: #FA843f;
}
body header

header nav{
    text-decoration-color: black;
    --bs-body-color-rgb: #fff;
    --bs-orange: #fd7e14;
    background-color: darkorange;
}